[submodule "ProtoBuf"]
	path = ProtoBuf
	url = https://github.com/hultqvist/ProtoBuf.git
[submodule "commandline"]
	path = commandline
	url = https://github.com/gsscoder/commandline
[submodule "DnsSharp"]
	path = DnsSharp
	url = git@github.com:hultqvist/DnsSharp.git
