#wrapper
{
  background:rgba(0,0,0,0.5);
}

html
{
  background:#eee url(/notes/background.jpeg);
  color:#000;
  border-top:3px solid #C64519;
  font-family:Georgia,serif;
  margin:0;
  padding:0;
}

#sitenav
{
  border-bottom:3px solid #C64519 !important;
}

body
{
  background:url(/notes/background-fade.png) repeat-x;
  margin:0;
  padding:1em;
}

article
{
  max-width:42em;
  background:#fff;
  border-radius:3px;
  border:1px solid #ccc;
  box-shadow:3px 0 1px -1px #ddd,-3px 0 1px -1px #ddd;
  margin:0 0 1em;
  padding:1em;
}

section
{
  max-width:30em;
}

a
{
  text-decoration:none;
  color:#17567F;
}

a img
{
  vertical-align:-30%;
}

a:hover
{
  text-decoration:underline;
  color:#17567F;
}

article a
{
  text-decoration:underline;
}

article section a:visited
{
  color:#073552;
}

blockquote
{
  margin-left:0;
  padding-left:2em;
  border-left:3px solid #C64519;
  overflow-x:wrap;
}

pre
{
  margin-left:0;
  border-left:3px solid #C64519;
  background:#ddd;
  color:#000;
  overflow-x:scroll;
  padding:1em 2em;
}

code
{
  font-family:Droid sans mono;
  word-wrap:normal;
  background:#ddd;
}

body>header div:first-child
{
  font-size:2em;
  font-weight:700;
  font-family:sans-serif;
  text-shadow:0 0 1px #ccf,3px 3px 5px #bbb;
  margin:0;
}

body>header div
{
  color:#888;
  margin:0 0 0 2em;
}

nav ul
{
  list-style:none;
  display:table;
}

nav li
{
  display:table-cell;
}

nav a
{
  border:1px dotted transparent;
}

nav a:hover
{
  border:1px dotted #ddd;
}

nav strong
{
  border:1px solid #ccc;
  box-shadow:3px 0 1px -1px #ddd,-3px 0 1px -1px #ddd;
  background:#f8f8f8;
}

nav li>*
{
  margin:0;
  padding:10px;
}

h1 a,h2 a,h3 a
{
  text-decoration:none !important;
}

article header h1,article header h2,article header h2 a
{
  color:#3C7407;
  margin:0;
}

article h1,article h2
{
  color:#555;
}

article:last-child
{
  margin:0;
}

time
{
  font-family:sans-serif;
  font-size:.9em;
  color:#666;
}

article section.summary p
{
  font-style:italic;
  color:#666;
}

footer
{
  margin:2em;
}

input,textarea
{
  width:100%;
  box-sizing:border-box;
  border:1px solid #ccc;
  font-family:sans-serif;
  padding:3px;
}

textarea
{
  height:8em;
}

input[type=submit]
{
  width:auto;
}

#editor input
{
  width:auto !important;
}

.markdown-frame
{
  background:#ADD8E6;
  padding:1em;
}

.wmd-input
{
  height:400px;
  width:100%;
  background:#FFF;
  padding:1em;
}

.wmd-button-row
{
  position:relative;
  height:20px;
  margin:10px 5px 5px;
  padding:0;
}

.wmd-spacer
{
  width:1px;
  height:20px;
  margin-left:14px;
  position:absolute;
  background-color:Silver;
  display:inline-block;
  list-style:none;
}

.wmd-button
{
  width:20px;
  height:20px;
  padding-left:2px;
  padding-right:3px;
  position:absolute;
  display:inline-block;
  list-style:none;
  cursor:pointer;
}

.wmd-button>span
{
  background-image:url(Edit/pagedown/wmd-buttons.png);
  background-repeat:no-repeat;
  background-position:0 0;
  width:20px;
  height:20px;
  display:inline-block;
}

.wmd-spacer1
{
  left:50px;
}

.wmd-spacer2
{
  left:175px;
}

.wmd-spacer3
{
  left:300px;
}

.wmd-prompt-background
{
  background-color:#000;
}

.wmd-prompt-dialog
{
  border:1px solid #999;
  background-color:#F5F5F5;
}

.wmd-prompt-dialog>div
{
  font-size:.8em;
  font-family:arial,helvetica,sans-serif;
}

.wmd-prompt-dialog>form>input[type="text"]
{
  border:1px solid #999;
  color:#000;
}

.wmd-prompt-dialog>form>input[type="button"]
{
  border:1px solid #888;
  font-family:trebuchet MS,helvetica,sans-serif;
  font-size:.8em;
  font-weight:700;
}

nav,h1,h2,h3,h4
{
  font-family:sans-serif;
}

@media all and (min-width:40em) {
  article header,article section
  {
    margin-left:10em;
  }
  
  article header .meta
  {
    position:relative;
    left:-10em;
  }
}

@media all and (min-width:50em) {
  body
  {
    padding:2em 5em;
  }
}